<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="redisConfig" class="com.github.rxyor.redis.redisson.config.RedisConfig">
        <property name="host" value="${redis.host}"/>
        <property name="port" value="${redis.port}"/>
        <property name="password" value="${redis.password}"/>
        <property name="database" value="${redis.database}"/>
    </bean>

    <bean id="delayConfig" class="com.github.rxyor.distributed.redisson.delay.config.DelayConfig">
        <property name="appName" value="carp"/>
    </bean>

    <bean id="scanWrapper" class="com.github.rxyor.distributed.redisson.delay.core.ScanWrapper"
        init-method="initAndScan" destroy-method="destroy">
        <property name="redisConfig" ref="redisConfig"/>
        <property name="delayConfig" ref="delayConfig"/>
        <property name="handlerList">
            <list>
                <bean class="com.github.rxyor.distributed.redisson.delay.handler.LogJobHandler">
                    <property name="topic" value="girl"/>
                </bean>
            </list>
        </property>
    </bean>
</beans>