<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:redisson="http://redisson.org/schema/redisson"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://redisson.org/schema/redisson http://redisson.org/schema/redisson/redisson.xsd">


    <bean id="redisConnConfig"
        class="com.github.rxyor.distributed.redisson.delay.spring.config.RedisConnConfig">
        <property name="host" value="127.0.0.1"/>
        <property name="password" value=""/>
    </bean>


    <bean id="redisDelayJobConfig"
        class="com.github.rxyor.distributed.redisson.delay.spring.config.DelayConfig"
        init-method="init" destroy-method="destroy">
        <property name="appName" value="carp-web"/>
        <property name="redisConnConfig" ref="redisConnConfig"/>
        <property name="handlerList">
            <list>
                <bean class="com.github.rxyor.distributed.redisson.delay.core.LogDelayJobHandler">
                    <property name="topic" value="web-girl"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="fastJsonCodec" class="com.github.rxyor.redis.redisson.codec.FastJsonCodec"/>
</beans>